*{
    font-family: 'Open Sans', sans-serif;
}
/* nav bar */

nav{
    display: flex;
    justify-content: space-between;
    margin: 0px 200px;
    align-items: center;
  }
  .nav-title{
    font-size: 45px;
    font-weight: 800;
  }
nav ul{
    display: flex;
    align-items: center;
    }
nav li{
    list-style: none;
    margin-left: 50px;
    font-size: 20px;
   }
   .text-primary{
    color: #FD6E0A
   }
   .Primary-button{
    color: var(--white-color, #FFF);
    font-weight: 700;
    font-size: 20px;
    background: #FD6E0A;
    height: 64px;
    border-radius: 5px;
    border: 0;
    padding: 18px 35px;
   }
   .header{
    background: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: right bottom, left center;
   }
   /* banner design */
.banner{
    display: flex;
    margin: 0 200px;
    align-items: center;
       }
       .sub-title{
        font-size: 45px;
        font-weight: 600;
        margin-bottom: 5px;
       }
       .title{
        font-size: 85px;
        font-weight: 700;
        margin-top: 20px;
       }
       .descripsion{
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 20px;
       }
       /* about section */
       .about-me{
        text-align: center;
        margin: 100px 200px;
        background: #FFF8F3;
        padding: 130px 130px ;
       }
       .info{
        display: flex;
        justify-content: center;
        gap: 0;
       }
       li{
        list-style: none;
       }
       .question{
        font-size: 20px;
font-weight: 400;
       }
       .answer{
        font-size: 20px;
        font-weight: 600;
       }
       .sub-about{
        font-size: 35px;
        font-weight: 700;
       }
       .sub-discripsion{
        color: var(--dark-03, #757575);
        text-align: center;
        font-size: 18px;
        font-weight: 400;
        /* what i do */
       }
       .skill{
        display: flex;
        border-radius: 5px;
background: #FFF;
box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
gap: 24px;
       
              }
       section{
        margin: 0 200px;
       }
       .what-i-do{
        margin-top: 130px;
        text-align: center;
        font-size: 35px;
        font-weight: 700;
       }
       .experience{
        text-align: center;
        font-size: 18px;
        font-weight: 400;
        margin: 30px 230px 40px 230px;
       }
       .skill-1{
        padding: 30px;
        margin-left: 30px;
        margin-top: 50;
        border-radius: 5px;
        background: #FFF;
        box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
       }
       .heading-1{
        color: var(--dark-01, #181818);
      font-size: 20px;
      font-weight: 700;
       }
       .descripsion-1{
        color: var(--dark-03, #757575);
        font-size: 16px;
        font-weight: 400;
       }
       /* resume*/
       .resume-content{
        display: flex;
        gap: 24px;
        background: var(--white-color, #FFF);
       }
       .resume.title-1{
        color: var(--dark-02, #474747);
font-size: 25px;
font-weight: 700;
margin-bottom: 10px;

       }
       .resume.sub-title-1{
        color: var(--dark-03, #757575);
font-size: 20px;
font-weight: 600;
margin-bottom: 20px;
       }
       .resume.descripsion-2{
        color: var(--dark-03, #757575);
font-size: 16px;
font-weight: 400;
       }
       .resume-itme{
        margin-top: 30px;
        margin-bottom: 30px;
       }
       .resume-btn{
          margin-top: 30px;
          text-align: center;
       }
       /* Connect */
       .Connect{
        margin-top: 30px;
       }
       .Connect-us{
        display: flex;
        gap: 100px;
        background-color: #FFF8F3;
        padding: 130px 200px;
       }
      
       .Connect input,textarea{
        margin-bottom: 24Px;
        border: 0;
        width: 100%;
       }
       input{
        height: 64px;
             }
    .connect-title{
      color: var(--dark-01, #181818);
      font-size: 35px;
      font-weight: 700;
    }
         
    .connect-des{
      color: var(--dark-02, #474747);
font-size: 16px;
font-weight: 400;
    }
       